.metaform{
  width: 50%;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: 'kanit-regular';
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.styledform{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid rgb(206, 118, 132);
}
.form-control:focus{
  border-color: rgb(186, 97, 112);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px pink;
}
.form-control::placeholder{
  color: rgb(206, 118, 132);
}

.form-control[type="password"], .form-control[type="text"]{
  font-family: 'kanit-regular';
}
.btn{
  background-color: #6f42c1;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background-color: #5a35a0;
}

#navigation{
  color: white;
  text-decoration: none;
  
}

#navigation:hover {
  color: #b38aff;
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}
/* #features:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
} */
.navbar-brand:hover{
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}
.navbar{
  background-color: transparent;
  backdrop-filter: blur(10px);
  transition: ease-in-out 0.3s;
}

.styledbg{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media screen and (max-width: 700px) {
  span{
    font-size: 1.4rem;
  }
  #logo {
    height: 35px;
  }
  .metaform{
    width: 80%;
  }
  .bigtext{
      margin: 0px 0px;
      padding: 0px 0px;
      font-family: "kanit-light";
  }
}
@media screen and (min-width:700px){
  #logo{
    height: 58px;
  }
}

.kanit-light {
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", serif;
  font-weight: 900;
  font-style: normal;
}








