{% extends 'layouts/base.html'%}
{% load static %}
{%block title%} 
<title>URL Checker</title> 
{%endblock%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/phishing.css' %}">
{% endblock %}
{%block body%}
    
    <section class="text-white styledbg mt-5">
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="card shadow p-4 bg-transparent text-light" style="width: 400px; border-color: #5a0fbc; " id="formCard">
                <h2 class="text-center mb-4 kanit-bold">🐟Phishing Detection</h2>
                <h4 class="text-center mb-4 kanit-regular">Check if a URL is Safe</h4>
                <input type="text" id="urlInput" placeholder="Enter a URL" class="form-control mb-3" required>
                <div class="d-flex justify-content-center">
                    <button class="px-2" id="checkButton">Check</button>
                </div>
            </div>
        </div>

    </section>

    

    <script src="{% static 'js/phishing.js' %}"></script>
    
    
{% endblock %}
